@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  scroll-behavior: smooth;
}

#btn {
  display: none;
}
.logo {
  width: 60px;
  padding: 0.1rem;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px;
  background-color: #181818;
  padding: 0.4rem 0.8rem;
  transition: all 0.5s ease;
  z-index: 100;
}
.sidebar.hidden {
  transform: translateX(-100%);
}
.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
  top: 30px;
}
.sidebar ul li a {
  font-size: 30px;
  color: #fefefa;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
  margin-top: 30px;
}
.sidebar ul li a:hover {
  background-color: #fefefa;
  color: #181818;
}
.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}
.sidebar ul li .tooltip {
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  color: #fefefa;
  border-radius: 0.6rem;
  padding: 0.4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
}
.sidebar ul li:hover .tooltip {
  opacity: 1;
}
.sidebar.skills-section ul li .tooltip {
  color: #181818; /* Change tooltip font color for skills section */
}

.home {
  width: 100%;
  min-height: 100vh;
  background-image: url("images/sea.png");
  background-size: cover;
  background-position: center 100%;
  background-attachment: fixed;
  display: flex;
  color: #fefefa;
  overflow: hidden;
}
.home .content {
  padding: 20px;
  margin-top: 10%;
  margin-left: 15%;
  line-height: 1.2;
}
.home .content .text-1 {
  font-size: 60px;
}
.home .content .text-2 {
  font-size: 75px;
  color: #ffb600;
  font-weight: 600;
}
.home .content .text-3 {
  font-size: 50px;
}
.home .content .text-3 span {
  color: #ffc000;
  font-weight: 500;
}

.skills .banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.skills .banner .slider {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 13%; /* changing the value of top results in vertical position of spinning */
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 2;
}
.skills .banner .slider:hover {
  animation-play-state: paused;
}
@keyframes autoRun {
  from {
    /* changing the value in rotateX results in spinning angle */
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}
.skills .banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    /* changing the value in translateZ results in radius of the spinning circle */
    translateZ(480px);
}
.skills .banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.skills .banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.skills .banner .content h1 {
  font-family: "ICA Rubrik";
  font-size: 13em;
  line-height: 1em;
  color: #181818;
  position: relative;
  margin-left: 16%;
  margin-bottom: 1%;
}
.skills .banner .content h1::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 4px #181818;
  color: transparent;
}
.skills .banner .content .me {
  background-image: url("images/me2.png");
  width: 100%;
  height: 81vh;
  position: absolute;
  bottom: -10%;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}
.skills .banner .content .crown {
  background-image: url("images/crown.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25%;
  width: 100%;
  height: 30vh;
  position: absolute;
  margin-bottom: 100%;
  margin-left: 20%;
  transform: rotate(-30deg);
  z-index: 3;
}

.projects p,
h2,
a,
.content {
  font-family: "Poppins", sans-serif;
  color: #fefefa;
}
.projects .slider {
  height: 100vh;
  position: relative;
}
.projects .slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
.projects .slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects .slider .list .item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #000 40%, transparent);
}
.projects .slider .list .item .content {
  position: absolute;
  left: 15%;
  top: 20%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
}
.projects .slider .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 10px;
}
.projects .slider .list .item .content h2 {
  font-size: 69px;
  margin: 0;
}
.projects .slider .list .item.active {
  opacity: 1;
  z-index: 10;
}
@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
.projects .slider .list .item.active p:nth-child(1),
.projects .slider .list .item.active h2,
.projects .slider .list .item.active p:nth-child(3) {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}
.projects .slider .list .item.active h2 {
  animation-delay: 1s;
}
.projects .slider .list .item.active p:nth-child(3) {
  animation-duration: 1.3s;
}
.projects .arrows {
  position: absolute;
  top: 50%;
  right: 50px;
  z-index: 100;
}
.projects .arrows button {
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #fefefa;
  transition: 0.5s;
}
.projects .arrows button:hover {
  background-color: #fefefa;
  color: black;
}
.projects .slider .list .item .content button {
  background-color: #eee5;
  color: #fefefa;
  border: none;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  font-size: large;
  transition: 0.5s;
  margin-top: 5%;
  opacity: 0;
}
.projects .slider .list .item.active .content button {
  animation: showContent 0.7s ease-in-out forwards;
  animation-delay: 1.5s;
}
.projects .slider .list .item .content button:hover {
  background-color: #fefefa;
  color: black;
}
.projects .thumbnail {
  position: absolute;
  bottom: 50px;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 250px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}
.projects .thumbnail::-webkit-scrollbar {
  width: 0;
}
.projects .thumbnail .item {
  width: 150px;
  height: 220px;
  filter: brightness(0.5);
  transition: 0.5s;
  flex-shrink: 0;
}
.projects .thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.projects .thumbnail .item-1 img {
  object-position: 20%;
}
.projects .thumbnail .item-2 img {
  object-position: 40%;
}
.projects .thumbnail .item-3 img {
  object-position: 28%;
}
.projects .thumbnail .item.active {
  filter: brightness(1);
}
.projects .thumbnail .item .content {
  position: absolute;
  inset: auto 10px 10px 10px;
}

.contact {
  min-height: 100vh;
  padding: 2em;
  background-image: url("images/mountain.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact > div {
  background: #fefefa;
  padding: 2.5em;
  border-radius: 10px;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
}
.contact h1 {
  font-size: 2.5em;
  color: #181818;
}
.contact form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10%;
}
.contact input,
.contact textarea {
  border: none;
  padding: 0.8em;
  width: 100%;
  border-radius: 5px;
  margin: 0.5em 0 1em 0;
  background: #eee;
  color: #969696;
}
.contact label {
  color: #a0a0a0;
}
.contact textarea {
  resize: none;
  height: 8em;
  font-family: sans-serif;
}
.contact input:focus,
.contact textarea:focus {
  outline: none;
}
.contact input::placeholder,
.contact textarea::placeholder {
  color: #bababa;
}
.contact button {
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 0.8em;
  background-color: #ff742e;
  color: #fefefa;
  border-radius: 8px;
  font-size: 1em;
  transition: 0.3s;
}
.contact button:hover {
  background-color: #e16628;
}
.contact ul {
  margin-top: 10%;
  margin-bottom: -10%;
  display: flex;
  justify-content: center;
}
.contact ul li {
  margin: 5%;
  list-style-type: none;
  display: inline-block;
}
.contact ul li a {
  color: #181818;
  font-size: 30px;
}

@media screen and (max-width: 1023px) {
  .skills .banner .slider {
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }
  .skills .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(300px);
  }
  .skills .banner .content h1 {
    text-align: center;
    width: 100%;
    text-shadow: 0 10px 20px #000;
    font-size: 7em;
  }
  .skills .banner .content .author {
    color: #fff;
    padding: 20px;
    text-shadow: 0 10px 20px #000;
    z-index: 2;
    max-width: unset;
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 768px) {
  #btn {
    display: block;
    color: #fefefa;
    position: fixed;
    top: 0.4rem;
    font-size: 1.2rem;
    left: 4%;
    line-height: 50px;
    z-index: 101;
  }
  .sidebar .top .logo {
    margin-top: 20px;
    height: 30px;
    width: 30px;
  }
  .sidebar {
    width: 50px;
  }
  .sidebar ul li a {
    font-size: 20px;
    margin-top: 0;
    border-radius: 0.5rem;
  }
  .sidebar ul li a i {
    min-width: 0px;
    height: 20px;
    line-height: 20px;
  }
  .sidebar ul li .tooltip {
    display: none;
  }
  .main-content {
    width: 100%;
    transition: all 0.5s ease;
  }
  .main-content.shift-right {
    width: calc(100% - 50px);
    transform: translateX(50px);
    transition: all 0.5s ease;
  }

  .home .content .text-1 {
    font-size: 30px;
  }
  .home .content .text-2 {
    font-size: 37.5px;
  }
  .home .content .text-3 {
    font-size: 25px;
  }

  .skills .banner .slider {
    width: 80%;
    height: 80px;
    top: 10%;
    left: 10%;
  }
  .skills .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(140px);
  }
  .skills .banner .content h1 {
    font-size: 5em;
    text-shadow: none;
    margin-bottom: 0;
    margin-left: 25%;
  }
  .skills .banner .content h1::after {
    -webkit-text-stroke: 2px #181818;
  }
  .skills .banner .content .me {
    width: 100%;
    height: 40vh;
    bottom: 250%;
  }
  .skills .banner .content .crown {
    margin-bottom: 350%;
    margin-left: 15%;
  }

  .projects .thumbnail {
    justify-content: start;
  }
  .projects .slider .list .item .content h2 {
    font-size: 60px;
  }
  .projects .arrows {
    top: 10%;
  }

  .contact {
    font-size: 12px;
  }
}
