@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  scroll-behavior: smooth;
}

.logo {
  width: 60px;
  padding: 0.1rem;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px;
  background-color: #181818;
  padding: 0.4rem 0.8rem;
  transition: all 0.5s ease;
  z-index: 100;
}
.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}
.sidebar ul li a {
  font-size: 30px;
  color: #fefefa;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
  margin-top: 25px;
}
.sidebar ul li a:hover {
  background-color: #fefefa;
  color: #181818;
}
.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}
.sidebar ul li .tooltip {
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  color: #181818;
  border-radius: 0.6rem;
  padding: 0.4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
}
.sidebar ul li:hover .tooltip {
  opacity: 1;
}

.home {
  width: 100%;
  min-height: 100vh;
  background-image: url("images/sea.png");
  background-size: cover;
  background-position: center 100%;
  background-attachment: fixed;
  display: flex;
  color: #fefefa;
  overflow: hidden;
}
.home .content {
  padding: 20px;
  margin-top: 10%;
  margin-left: 15%;
  line-height: 1.2;
}
.home .content .text-1 {
  font-size: 60px;
}
.home .content .text-2 {
  font-size: 75px;
  color: #ffb600;
  font-weight: 600;
}
.home .content .text-3 {
  font-size: 50px;
}
.home .content .text-3 span {
  color: #ffc000;
  font-weight: 500;
}

.skills .banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.skills .banner .slider {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 15%; /* changing the value of top results in vertical position of spinning */
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 2;
}
@keyframes autoRun {
  from {
    /* changing the value in rotateX results in spinning angle */
    transform: perspective(1000px) rotateX(-15deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-15deg) rotateY(360deg);
  }
}
.skills .banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    /* changing the value in translateZ results in radius of the spinning circle */
    translateZ(480px);
}
.skills .banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.skills .banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.skills .banner .content h1 {
  font-family: "ICA Rubrik";
  font-size: 13em;
  line-height: 1em;
  color: #181818;
  position: relative;
  margin-left: 15%;
  margin-bottom: 1%;
}
.skills .banner .content h1::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 3px #181818;
  color: transparent;
}
.skills .banner .content .me {
  background-image: url("images/me2.png");
  width: 100%;
  height: 81vh;
  position: absolute;
  bottom: -10%;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}

.experience {
  width: 100%;
  height: 100vh;
}

.projects {
  width: 100%;
  height: 100vh;
}

.contact {
  min-height: 100vh;
  padding: 2em;
  background-image: url("images/mountain.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact > div {
  background: #fefefa;
  padding: 2.5em;
  border-radius: 10px;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
}
.contact h1 {
  font-size: 2.5em;
  color: #181818;
}
.contact form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10%;
}
.contact input,
.contact textarea {
  border: none;
  padding: 0.8em;
  width: 100%;
  border-radius: 5px;
  margin: 0.5em 0 1em 0;
  background: #eee;
  color: #969696;
}
.contact label {
  color: #a0a0a0;
}
.contact textarea {
  resize: none;
  height: 8em;
  font-family: sans-serif;
}
.contact input:focus,
.contact textarea:focus {
  outline: none;
}
.contact input::placeholder,
.contact textarea::placeholder {
  color: #bababa;
}
.contact button {
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 0.8em;
  background-color: #ff742e;
  color: #fefefa;
  border-radius: 8px;
  font-size: 1em;
  transition: 0.3s;
}
.contact button:hover {
  background-color: #e16628;
}
.contact ul {
  margin-top: 10%;
  margin-bottom: -10%;
  display: flex;
  justify-content: center;
}
.contact ul li {
  margin: 5%;
  list-style-type: none;
  display: inline-block;
}
.contact ul li a {
  color: #181818;
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  .contact {
    font-size: 14px;
  }
}
